.content-body__header__functions-button button {
    outline: transparent;
    border: transparent;
    display: flex; 
    flex-direction: row;
    align-items: center;
    background-color: #EAF9FF;
    border-radius: 50px;
    padding-right: 10px;
    /* width: 168px; */
    height: 53px;
}

.content-body__header__functions-button button:hover {
    cursor: pointer;
}

.content-body__header__functions-button button:disabled {
    cursor: not-allowed;
    /* background-color: #0096e0; */
    color: #1010104D;
}

.content-body__header__functions-button button:disabled div {
    color: #1010104D;
}

.header-button-icon{
    color: white;
    border-radius: 50%;
    background-color: #03AEEE;
    padding: 17px 20px;
    font-size: 14px;
}

.header-button-text {
    background-color: #EAF9FF;
    padding: 0 20px 0 15px;
    font-size: 16px;
    font: "Nunito", sans-serif;
    letter-spacing: 0px;
    color: #1F1F1F;
    }

.employee-details-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.employee-details--container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: max-content;
}

.employee-detail-value--status {
    border-radius: 30px;
    width: max-content;
    padding: 5px 20px;
}

.employee-detail-value--status.active {
    background-color: #D3F4BE;
}

.employee-detail-value--status.inactive {
    background-color: #FFBFBF;
}

.employee-detail-value--status.probation {
    background-color: #F5ECB8;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
}